body {
    font-family: Arial;
    margin: 0;
    background: #f5f5f5;
}

/* Centrar todo */
.contenedor-principal {
    max-width: 1000px;
    margin: auto;
    padding: 20px;
}


#buscador {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    margin-bottom: 25px;
    border-radius: 10px;
    border: 1px solid #ccc;
}


.contenedor {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
}

/* Tarjetas */
.card {
    background: white;
    padding: 25px;
    border-radius: 12px;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    transition: 0.3s;
}

/* Hover */
.card:hover {
    transform: scale(1.05);
    background: #eaeaea;
}